<div style="width: 400px; margin: auto;">
    <div *ngIf="currentCommand" class="edit-form">
      <h4>Command</h4>
      <form>
        <div class="form-group">
          <label for="how to">How to</label>
          <input
            type="text"
            class="form-control"
            id="howTo"
            [(ngModel)]="currentCommand.howTo"
            name="howTo"
          />
        </div>
        <div class="form-group">
          <label for="line">Line</label>
          <input
            type="text"
            class="form-control"
            id="line"
            [(ngModel)]="currentCommand.line"
            name="line"
          />
        </div>
  
        <div class="form-group">
          <label for="plataform">Plataform</label>
          <input
            type="text"
            class="form-control"
            id="plataform"
            [(ngModel)]="currentCommand.plataform"
            name="plataform"
          />
        </div>
      </form>
  
      <button class="badge badge-danger mr-2" (click)="deleteCommand()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateCommand()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentCommand">
      <br />
      <p>Cannot access this Command...</p>
    </div>
  </div>
  