<div style="width: 400px; margin: auto;">
    <div class="edit-form">
      <h4>Command</h4>
      <form [formGroup]="commandForm" (ngSubmit)="updateCommand()">
        <div class="form-group">
          <label for="how to">How to</label>
          <input
            type="text"
            class="form-control"
            name="howTo"
            formControlName="howTo"
          />
        </div>
        <div class="form-group">
          <label for="line">Line</label>
          <input
            type="text"
            class="form-control"
            name="line"
            formControlName="line"
          />
        </div>
  
        <div class="form-group">
          <label for="plataform">Plataform</label>
          <input
            type="text"
            class="form-control"
            name="plataform"
            formControlName="plataform"
          />
        </div>
        <button type="button" class="btn btn-danger mr-2" (click)="deleteCommand()">Delete</button>
        <button type="submit" [disabled]="!commandForm.valid" class="btn btn-success">Update </button>
      </form>
  
    </div>

  </div>
  